@using Blog.Entities
@model Blog.Models.BlogPostViewModel
@{
    ViewBag.Title = "Post";
}

<div class="row">
    
    <div class="col-md-3">
        <h2>@Model.Post.Title</h2>
        <p>@Model.Post.PostBody</p>
    </div>

</div>

<div class="row" id="commentsDiv">
    @foreach (Comment comment in Model.Comments)
    {
        @Html.Partial("_comment", comment)
    }
    
</div>


<div class="row">
    <form id="commentForm">
        <select name="userid" id="userId">
            @foreach (User user in Model.Users)
            {
                <option value="@user.Id">@user.LastName, @user.FirstName</option> 
            }
        </select>
        <div><a href="/home/newUser">Add New User</a></div> 
        <textarea name="commentbody" placeholder="Enter comment" id="commentbody"></textarea>
        <input type="hidden" name="blogpostid" value="@Model.Post.Id" id="blogpostid"/>
        <input id="commentSubmit" type="submit" value="Submit"/>

    </form>
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/Comments.js"></script>
    
}
