@using Blog.Entities
@model Blog.Models.BlogPostViewModel
@{
    ViewBag.Title = "Post";
}

<div class="row">
    
    <div class="col-md-3">
        <h2>@Model.Post.Title</h2>
        <p>@Model.Post.PostBody</p>
    </div>

</div>

<div class="row">
    @Html.Partial("_comment",Model.Comments)
    
</div>


<div class="row">
    <form action="/home/createComment" method="POST">
        <select name="userid">
            @foreach (User user in Model.Users)
            {
                <option value="@user.Id">@user.LastName, @user.FirstName</option> 
            }
        </select>
       <div><a href="/home/newUser">Add New User</a></div> 
    <textarea name="commentbody" placeholder="Enter comment"></textarea>
    <input type="hidden" name="blogpostid" value="@Model.Post.Id"/>
    <input type="submit" value="Submit"/>

</form>
</div>
